<div class="wholepageEl">
  <div align="center">
    <h1>Fine! You are on <span style="color: rgb(76, 43, 226); font-size: 16px;"> Electricity </span> page</h1>
    <img src="../../assets/Images/flash.svg" height="40px">
  </div>
  <div class="leftColumn">
    <div>
      <h3>Pleaae, enter value of the used energy and it price</h3>
      <form>
        <div>
          kW<input type="number" name="value" [(ngModel)]="elValFROMHtml" #value="ngModel" required/>
            <div [hidden]="value.valid || value.untouched" class="alert alert-danger">
              There is no value
            </div>
          Price per kW<input type="number" name="price" [(ngModel)]="price" #priced="ngModel" required/>
            <div [hidden]="priced.valid || priced.untouched" class="alert alert-danger">
              There is no value for "Price"
            </div>
        </div>
<br>
        <div class="submitEnergy">
          <button [disabled]="value.invalid || priced.invalid"   (click) = "calcFromHtml()">Calculate Data</button>
          <br>
                   <h4>For {{elValFROMHtml}} amount of kW you should pay {{elValForHtml}} $ </h4>
          <div class="nextStep">
            <h5>You've just submit data. Please, choose next step</h5>
            <a href="index.html">Go to the Main Page</a>
            <br>
            <a href="water.html">Go to the Water Page</a>
          </div>
        </div>
      </form>
    </div>
    <i class="fa fa-file"></i>
  </div>


  <div class="rightColumn">
    <table>
      <caption>Usefull links</caption>
      <tr>
        <td>Link</td>
        <td>Description</td>
      </tr>
      <tr>
        <td><a href="https://www.oblenergo.kharkov.ua/consumers/tarifs/taryfy-na-elektroenergiyu-na-sichen-2018-roku">Current price</a></td>
        <td>Here you can find official site of electricity provider company</td>
      </tr>
      <tr>
        <td><a href="http://teplo.gov.ua/calculation">Subsidy calc</a></td>
        <td>You van calculate subsidy for your current state</td>
      </tr>
    </table>
  </div>
</div>
