
<header>
  <title>Payment</title>
  <meta name="author" content="andriyn">


</header>
<body>
<div class="wholepage">
  <h1>Wellcome to<span style="color: blueviolet; font-size: 16px;"> my </span> page</h1>

  <div align="center">
    <img src="Images/smiling.svg" alt="smile" height="40px">
  </div>

  <form method="post" action="Electricity.html">
    <div class="chooseMonth">
      <h4>Select Month of payment</h4>
      <input type="month" name="paymenttime"><br>
      <br>
    </div>
    <div class="chooseType">
      <h4>Lets choose what do you want to pay for </h4>
      <select name="List of Services">
        <option value="Gas" selected>Gas</option>
        <option value="electrisity">Elecricity</option>
        <option value="water">Water</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div class="chooseSubsidy">
      <h4>Set if you have subsidy this months</h4>
      <input type="radio" name="subsidy" value="Have">Yes<br>
      <input type="radio" name="subsidy" value="Dont have" checked>No<br>
      <br>
    </div>
    <button (click)="submitForm()" value="">Go to filling</button>
  </form>
</div>

</body>
<app-about-author></app-about-author>
<app-electicity></app-electicity>
