
<header>
  <title>Payment</title>
  <meta name="author" content="andriyn">


</header>
<body>
<div class="wholepage">
  <h1>Wellcome to<span style="color: blueviolet; font-size: 16px;"> my </span> page</h1>

  <div align="center">
    <img src="../assets/Images/smiling.svg" alt="smile" height="40px">
  </div>
<div class="left-column-main">
  <form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
    <div class="form-group">
      <h4>Select Month of payment</h4>
      <input class="form-control" type="month" name="paymenttime" formControlName="timerange"><br>
      <div class="alert alert-danger"
           *ngIf="myForm.controls['timerange'].invalid && myForm.controls['timerange'].touched">
        Не указано имя
      </div>
      <br>
    </div>
    <div class="chooseType">
      <h4>Lets choose what do you want to pay for </h4>
      <select name="List of Services">
        <option value="Gas" selected>Gas</option>
        <option value="electrisity">Elecricity</option>
        <option value="water">Water</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div class="chooseSubsidy">
      <h4>Set if you have subsidy this months</h4>
      <input type="radio" name="subsidy" value="Have">Yes<br>
      <input type="radio" name="subsidy" value="Dont have" checked>No<br>
      <br>
    </div>
    <button (click)="submit()" value="">Go to filling</button>
  </form>
</div>
</div>

<div class="right-column-main">
  <p>Last you payed for: {{formfilling?.type}}</p>
  <p> Last month you filled in:{{formfilling?.date}}</p>
  <p> Last time you payed $:{{formfilling?.value}}</p>
</div>
</body>
<app-about-author></app-about-author>
<!--<app-electicity></app-electicity>-->
